.wrap {
  width: 1090px;
  margin: 0 auto;
}
.j-app {
  font-size: 12px;
  color: #333;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cancar {
  width: 430px;
  float: left;
  position: relative;
}
.cancar .show {
  display: block;
}
.cancar .hide {
  display: none;
}
.cancar .small {
  width: 428px;
  height: 428px;
  background: #f4f4f4;
  float: left;
  z-index: 222;
}
.cancar .small img {
  width: 100%;
  height: 100%;
}
.cancar .small .movebox {
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.cancar .big {
  width: 430px;
  height: 430px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  float: left;
  position: absolute;
  display: none;
  overflow: hidden;
  z-index: 444;
  top: -22px;
  left: 456px;
}
.cancar .big .bigpic {
  top: 0;
  left: 0;
  width: 900px;
  height: 1000px;
  position: absolute;
}
.cancar .list {
  margin-top: 15px;
}
.cancar .list ul {
  overflow: hidden;
}
.cancar .list ul li {
  float: left;
  width: 76px;
  height: 76px;
  margin-left: 12px;
}
.cancar .list ul li img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}
.cancar .list ul li:hover img {
  border: 1px solid #b4a078;
  transform: scale(0.98);
}
.cancar .m-entrance {
  margin-top: 25px;
  width: auto;
  font-size: 14px;
}
.cancar .m-entrance span {
  color: #b4a078;
  border: 1px solid #b4a078;
  background-color: #f5f3ef;
  padding: 5px 10px;
}
.m-info {
  float: right;
  width: 620px;
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
}
.m-info .name {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
  position: relative;
}
.m-info .comment {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.2;
  text-align: right;
  z-index: 1;
  font-weight: 400;
}
.m-info .comment .cc {
  color: #E36844;
  font-size: 20px;
}
.m-info .comment .f1as {
  display: block;
  font-size: 13px;
  margin-top: 4px;
}
.m-info .limitedHd {
  margin-top: 10px;
  width: 600px;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background-color: #e36844;
}
.m-info .limitedHd span {
  display: inline-block;
  font-size: 14px;
}
.m-info .sdsaf img {
  width: 620px;
  height: 172px;
  background-size: 620px 50px;
}
.m-info .cd {
  font-size: 14px;
  color: #666;
  line-height: 30px;
  float: left;
}
.m-info .sd {
  font-size: 14px;
  color: #d7282d;
  float: left;
  line-height: 30px;
  margin-left: 5px;
}
.m-info .displayName {
  padding: 0 4px 0 6px;
  border-right: none;
}
.m-info .price {
  background-color: #f5f3ef;
  border-top: 1px dotted #dedede;
  border-bottom: 1px dotted #dedede;
  padding: 0 0 13px;
  line-height: 24px;
  font-size: 13px;
  position: relative;
  margin-top: 80px;
  height: 309px;
}
.m-info .price .f-clearfix .label-1 {
  line-height: 20px;
  width: 55px;
  font-size: 13px;
  color: #666;
  margin-left: 8px;
  float: left;
}
.m-info .price .f-clearfix .sss {
  display: block;
  width: 500px;
  margin-top: 10px;
}
.m-info .price .f-clearfix .sss .rmb {
  margin-left: 0;
  line-height: 30px;
  color: #d7282d;
  font-size: 18px;
  float: left;
}
.m-info .price .f-clearfix .sss .num {
  margin-top: 16px;
  font-size: 28px;
  line-height: 30px;
  margin-left: 2px;
  color: #d7282d;
}
.m-info .price .m-promoTip {
  width: 488px;
  font-size: 12px;
  color: #C43C3B;
  font-weight: 700;
  margin: 0 0 8px 66px;
  line-height: 18px;
  padding-top: 10px;
}
.specProp {
  margin-left: 13px;
}
.specProp span {
  float: left;
  margin-top: 10px;
}
.specProp .samllimg {
  margin-left: 34px;
}
.specProp .samllimg li {
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 8px;
  border: 1px solid #000;
}
.specProp .samllimg li img {
  width: 46px;
  height: 46px;
}
.number {
  margin-left: 14px;
}
.number span {
  float: left;
}
.u-selnum {
  margin-left: 43px;
  overflow: hidden;
}
.u-selnum .num {
  float: left;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 0;
  border: 0;
  width: 60px;
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #333;
}
.yx-cp-m-ft2 {
  margin-top: 60px;
  height: 250px;
  padding-top: 37px;
  background-color: #414141;
}
.yx-cp-m-ft2 .yx-cp-m-siteEnsure {
  margin-bottom: 30px!important;
  padding-left: 17px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.yx-cp-m-ft2 .yx-cp-m-siteEnsure li {
  float: left;
  color: #fff;
  font-size: 18px;
  line-height: 51px;
  vertical-align: middle;
  margin-left: 216px;
}
.yx-cp-m-ft2 .yx-cp-m-siteEnsure li > a {
  font-size: 18px;
  color: #fff;
}
.yx-cp-m-ft2 .yx-cp-m-siteInfo {
  text-align: center;
  color: #999;
  position: relative;
}
.yx-cp-m-ft2 .yx-cp-m-siteInfo {
  text-align: center;
  float: left;
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.yx-cp-m-ft2 .yx-cp-m-siteInfo a {
  text-align: center;
  color: #999;
  font-size: 12px;
  margin-left: 10px;
}
.yx-cp-m-ft2 p {
  display: block;
}
.yx-cp-m-ft2 p a {
  color: #999;
  font-size: 12px;
  margin-left: 5px;
  padding: 0 10px;
  text-align: center;
}
.yx-cp-m-ft2 .ss {
  display: block;
  width: 540px;
  margin: 0 auto;
  margin-top: 10px;
}
